<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= current_user.email %>:</strong>
          <%= comment.comment %>
        </p>
      </div>
    </div>
    <%if current_user.is_admin || comment.user_id == current_user.id%>
     <%= link_to 'Delete', [comment.post, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
    <%end%>
  </article>

</div>