<% content_for :page_title, "Blogs" %>

<section class = "section">
    <div class:"container">
        <% @posts.each do |post| %>
             <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class = "media-content">
                            <p class="tile is-medium">
                                <%= link_to post.title, post, class: "title"%>
                            </p>
                        </div>
                    </div>
                    <br>
                    <%if User.exists?(post.user_id)%>
                    <div class="label">
                    Created by: 
                        <%=User.find(post.user.id).email %>
                    </div>
                    <div class="text is-right">
                     <%= Date.parse(post.created_at.to_s).strftime('%d.%m.%Y') %>
                    </div>
                    <%end%>
                </div>
             </div>
        <%end%>
    </div>
</section> 